<footer id="footer-for-all">
  <h3>&copy; Copyright 2021 Guru</h3>
  <div>
    <a href="/">Home</a>
    <%if(locals.user){%>
    <a href="/users/profile/<%= user.id %>">Profile</a>
    <%}%>
  </div>
</footer>
