footer {
  background-color: grey;
  height: 60px;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  h3 {
    color: ghostwhite;
    padding: 3px;
  }
  div {
    padding: 21px;
    a {
      color: ghostwhite;
      text-decoration: none;
      font-size: 20px;
      margin: 10px;
    }
  }
}
